# Compiled Object files
*.slo
*.lo
*.pyc
*.ko
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# editor files
*.swp
*~

# eagle tmp files
*.brd.lck
*.sch.lck
*.b\#*

# mbed submodules
mbed-*-firmware/mbed-os/
mbed-*-firmware/BUILD/
mbed-*-firmware/BLE_API/
mbed-*-firmware/JLINK/
.build
.mbed
projectfiles
*.hg*

# misc
Private/*
.ycm*
tags
*.taghl
*.metadata*
*synthesis*
*designer*
questions

