# Compiled Object files
*.slo
*.lo
*.pyc
*.ko
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# editor files
*.swp
*~

# mbed submodules
mbed-glove-firmware/mbed-os/
mbed-glove-firmware/BUILD/
.build
.mbed
projectfiles
*.hg*

# misc
Private/*
.ycm*
tags
*.taghl
*.metadata*
*synthesis*
*designer*

